@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --bg-dark: #282c34; */
  --bg-dark: #ffffff;
  --text-gray: #282c34;
  /* --bg-dark: #8b8a83; */
  --bg-light: #d3dcec;
  --bg-light: #f3f3f5;
  --bg-light: #ffd051;
  --bg-light: #f3f3f5;
  --off-black: #31363f;
  --dark-red: rgb(173, 68, 68);
  --shadow: 2px 4px 6px 1px #737d8f2c;
  --yellow: rgb(255, 239, 98);
  --darkYellow: rgba(234, 179, 8, 0.842);
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-dark);
  background-color: var(--bg-light);
  min-height: 100svh;
  z-index: 0;
  overflow-x: hidden;

}

.bee-path {
  position: fixed;
  width: 100%;
  height: 45rem;
  border-radius: 0 90% 0 0;
  /* background-color: var(--darkYellow); */
  border-top: 4px dashed rgb(248, 235, 194);
  border-right: 6px dashed rgb(248, 235, 194);
  top: 20%;
  left: 0;
  z-index: -1;
  transform: rotate(-5deg);
}

.bee-path-two {
  position: fixed;
  width: 100%;
  height: 25rem;
  border-radius: 0 100% 0 0;
  /* background-color: var(--darkYellow); */
  border-top: 4px dashed rgb(248, 235, 194);
  /* border-right: 6px dashed rgba(234, 179, 8, 0.15); */
  top: 20%;
  left: 0;
  z-index: -1;
  transform: rotate(-15deg);
}

.navigation-bar {
  width: 100%;
  background-color: var(--bg-light);
  background-color: rgb(204, 157, 14);
  color: var(--text-gray);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.75rem 0.5rem 0.75rem;
  /* border-bottom: 4px solid var(--yellow); */
  font-weight: 500;
  position: relative;
  overflow: hidden;

}

.honey-pattern {
  position: absolute;
  width: 100%;
  z-index: 0;
}

.honey-division {
  position: absolute;
  width: 25rem;
  left: 25%;
}

.honey-division-two {
  position: absolute;
  width: 25rem;
  left: 70%;
}

.honeycomb {
  position: absolute;
  top: -1.5rem;
  left: 0rem;
  background-color: var(--darkYellow);
  width: 28.5px;
  height: 50px;
  transform: rotate(90deg);
}
.honeycomb::before {
  content: "";
  display: block;
  border-right: solid 14px var(--darkYellow);
  border-top: solid transparent 25px;
  border-bottom: solid transparent 25px;
  position: absolute;
  left: -13.9px;
  top: 0px;
}
.honeycomb::after {
  content: "";
  display: block;
  border-right: solid 14px var(--darkYellow);
  border-top: solid transparent 25px;
  border-bottom: solid transparent 25px;
  position: absolute;
  left: 28.45px;
  transform: scaleX(-1);
}

.two {
  left: 3.5rem;
}
.three {
  left: 5.25rem;
  top: 1.5rem;
}
.four {
  left: 7rem;
}
.five {
  left: 2rem;
  top: -2rem;
}
.six {
  left: 0rem;
  top: 1rem;
}

.nav-buttons-align {
  display: flex;
  gap: 5rem;
}

.nav-btn {
  color: var(--text-gray);
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 500;
  z-index: 1;
}

.page-title {
  color: white;
  font-weight: 900;
  display: flex;
  z-index: 1;
}

.only-title {
  /* border-bottom: 1px solid var(--dark-red); */
}

.bee-logo {
  width: 3rem;
  margin-right: 0.5rem;
  object-fit: contain;
  padding-top: 0.1rem;
}

.orientation {
  height: 100%;
  float: left;
}

.side-bar {
  position: fixed;
  top: 8rem;
  height: 100%;
  left: 0;
  /* margin-right: 8rem; */
  /* min-height: 100%; */
  width: 14rem;
  background-color: var(--bg-light);
  font-size: 1.25rem;
  padding: 0.25rem 0.75rem;
  color: var(--text-gray);
  border-right: 1px solid var(--bg-light);
  border-right: 2px solid var(--bg-dark);
  /* background-color: var(--bg-light); */
  font-weight: 500;

}

.side-bar-align {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.side-bar-btn {
  font-size: 1.25rem;
  transition: 10ms;
  padding: 0.25rem;
  color: var(--off-black);
}

.side-bar-btn:hover {
  font-size: 1.5rem;
  padding: 0.08rem;
  /* background: radial-gradient(var(--yellow), transparent 80%, transparent); */
  /* text-decoration: underline dashed var(--dark-red); */

}

.contents {
  padding: 0.5rem 0 0 0;
  width: 100%;
  min-height: 120svh;
  display: flex;
  justify-content: center;
  padding-left: 2.5%;
  /* align-items: center; */
}

.page {
  padding: 4.5rem;
  width: 1000px;
  height: 100%;
  background-color: var(--bg-dark);
  /* background-color: rgb(193, 224, 255); */
  color: var(--dark-red);
  box-shadow: var(--shadow);
  border-radius: 1rem;
  position: relative;
  /* border: 4px dashed rgb(128, 128, 128); */
}

.this-page {
  color: var(--darkYellow);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.page-one-contents {
  font-size: 1.25rem;
  line-height: 2.25rem;
}

.page.clear {
  background-color: transparent;
  box-shadow: none;
}

.header {
  height: 22rem;
  display: flex;
  align-items: center;
  color: var(--off-black);
  transition: 1s;
}

.header.active {
  height: 10rem;
  display: flex;
  align-items: center;
  color: transparent;
}

.page-header {
  font-size: 3.5rem;
  font-weight: 500;
  padding-bottom: 2rem;
}

.home {
  width: 1000px;
  height: max-content;
  /* background-color: var(--bg-light); */
  /* color: var(--dark-red); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-logo {
  margin-top: 0.25rem;
  margin-right: -1rem;
  width: 50%;
  object-fit: contain;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-day {
  height: 5rem;
  font-weight: 600;
}

.past-future {
  color: rgb(150, 150, 150);
  font-weight: 100;
}

.outline-bg {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 4rem;
  border: 2px dashed var(--yellow);
  border-bottom: none;
  border-radius: 1rem;
  z-index: -1;
}

.vert-card {
  padding: 2rem;
  width: 48%;
  min-height: max-content;
  background-color: white;
  border-radius: 1rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
}

.compatibility {
  margin-top: 6rem;
  width: 100%;
  border-radius: 1rem;
  padding: 4.5rem;
  color: white;
}

.footer {
  padding: 2rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (width <= 1300px) {
  .contents {
    padding-left: 4rem;
  }
  .home, .page {
    width: 900px;
  }
  .side-bar {
    position: fixed;
    top: 8rem;
    height: 100%;
    left: 0;
    margin-right: -8rem;
    /* min-height: 100%; */
    width: 9rem;
    background-color: transparent;
    font-size: 1.25rem;
  }
  .side-bar-btn {
    font-size: 1.25rem;
    transition: 10ms;
    padding: 0.25rem;
  }
}

@media (width <= 1100px) {
  .nav-buttons-align {
    display: none;
  }
  .page-header{
    font-size: 2.5rem;
  }
  .home, .page {
    width: 98%;
  }
  .contents {
    width: full;
    padding-left: 0;
  }
  .orientation {
    flex-direction: column;
  }
  .side-bar {
    position: absolute;
    position: sticky;
    z-index: 1;
    top: 0rem;
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 1rem;
  }
  .side-bar-align {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .side-bar-btn {
    font-size: 1.25rem;
    transition: 10ms;
    padding: 0.25rem;
  }
}

@media (width <= 600px) {
  .nav-buttons-align {
    display: none;
  }
  .page-header{
    font-size: 2rem;
  }
  .home, .page {
    flex-direction: column;
    align-items: center;
    width: 98%;
  }
  .contents {
    width: full;
    padding-left: 0;
  }
  .side-bar {
    position: absolute;
    position: fixed;
    z-index: 1;
    top: 0rem;
    width: 100%;
    background-color: transparent;
    font-size: 1rem;
  }
  .side-bar-align {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .side-bar-btn {
    font-size: 1.25rem;
    transition: 10ms;
    padding: 0.25rem;
  }

  .change-orientation {
    flex-direction: column;
    gap: 1rem;
  }
  .vert-card {
    width: 100%;
  }
}
