@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --bg-dark: #282c34; */
  --bg-dark: #ffffff;
  --text-gray: #282c34;
  /* --bg-dark: #8b8a83; */
  --bg-light: #d3dcec;
  --bg-light: #f3f3f5;
  --dark-red: rgb(173, 68, 68);
  --shadow: 2px 4px 6px 1px #737d8f2c;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-dark);
  background-color: var(--bg-light);
  min-height: 100svh;
}

.glow-effect {
  width: 100%;
  height: 20%;
  top: 0;
  position: absolute;
  background: radial-gradient(circle at top, rgb(253, 255, 158), transparent 20%);
  z-index: -1;
}

.navigation-bar {
  width: 100%;
  background-color: var(--bg-light);
  color: var(--text-gray);
  color: black;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.75rem 0.5rem 0.75rem;
  border-bottom: 2px solid rgb(228, 238, 89);
}

.nav-btn {
  color: var(--text-gray);
  color: rgb(114, 115, 119);
}

.page-title {
  border-bottom: 2px solid var(--dark-red);
  font-weight: 500;
}

.side-bar {
  position: sticky;
  top: 8rem;
  height: 100%;
  left: 0;
  margin-right: -8rem;
  /* min-height: 100%; */
  width: 14rem;
  background-color: transparent;
  font-size: 1.25rem;
  padding: 0.25rem 0.75rem;
  color: var(--text-gray);
  border-right: 1px solid var(--bg-light);
  border-right: 2px solid var(--bg-dark);
  /* background-color: var(--bg-light); */
}

.side-bar-btn {
  font-size: 1.25rem;
  transition: 10ms;
  padding: 0.25rem;
}

.side-bar-btn:hover {
  font-size: 1.5rem;
  padding: 0.08rem;
}

.contents {
  padding: 0.5rem 0 0 0;
  width: 100%;
  min-height: 120svh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.page {
  padding: 4.5rem;
  width: 1000px;
  height: 100%;
  background-color: var(--bg-dark);
  color: var(--dark-red);
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
}

.page.clear {
  background-color: transparent;
  box-shadow: none;
}

.header {
  height: 22rem;
  display: flex;
  align-items: center;
  transition: 1s;
}

.header.active {
  height: 10rem;
  display: flex;
  align-items: center;
  color: transparent;
}

.page-header {
  font-size: 3.5rem;
  font-weight: 200;
  padding-bottom: 2rem;
}

.home {
  width: 1000px;
  height: max-content;
  /* background-color: var(--bg-light); */
  /* color: var(--dark-red); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-day {
  height: 5rem;
  font-weight: 600;
}

.past-future {
  color: rgb(150, 150, 150);
  font-weight: 100;
}